<div class="container-fluid">

    <div class="col-md-12 justify-content-center">
        
            
            <div class="col-md-12 form-group">
                <h2 class="d-flex justify-content-center p-5 ml-5">Cadastre seu produto</h2>

    <div class="col-md-12">
        <div class="justify-content-center ml-5">

<form>
    <div class="form-group mt-3">
      <label for="formGroupExampleInput">Nome do produto</label>
      <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Campo obrigatório">
    </div>
    <div class="form-group mt-4">
      <label for="formGroupExampleInput2">Fornecedor</label>
      <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Campo obrigatório">
    </div>
    <div class="form-group mt-4">
        <label for="formGroupExampleInput2">Valor do produto</label>
        <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Campo obrigatório">
      </div>
      <div class="d-flex justify-content-center">
        <button type="submit" class="btn-success">Cadastrar</button>
    </div>
  </form>
